@model Wejobr.Models.Recrutador

<link rel="stylesheet" href="~/css/recrutador.css">

@{
    ViewData["Title"] = "Excluir cadastro de recrutador";
}

<main class="container pt-4">
   <section class="container-fluid" id="recrutSection1">
<h2 class="mt-3 ml-3">Ao EXCLUIR o cadastro, os dados serão perdidos</h2>
<hr />
<div class="container justify-content-center mt-3 p-4 border border-light shadow-sm bg-light rounded">

    <dl class="row">

        <dt class="col-sm-2">
            Nome do recrutador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_recrutador)
        </dd>

        <dt class="col-sm-2">
            E-mail comercial
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email_recrutador)
        </dd>

        <dt class="col-sm-2">
            Telefone comercial
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel_recrutador)
        </dd>

        <dt class="col-sm-2">
            Telefone celular
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contato2_recrutador)
        </dd>

        <dt class="col-sm-2">
            Empresa representada
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_empresa)
        </dd>

        <dt class="col-sm-2">
            Departamento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Departamento_recrutador)
        </dd>

        <dt class="col-sm-2">
            Cargo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cargo_recrutador)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_recrutador" />
        <button type="submit" value="Excluir" class="btn btnDeletar my-2 my-sm-2 ml-2">Excluir</button>
        <a class="btn btnFechar" asp-action="IndexAdmin">Voltar</a>
    </form>

</div>
</section>
</main>