@model IEnumerable<Wejobr.Models.Recrutador>

<link rel="stylesheet" href="~/css/recrutador.css">

@{
    ViewData["Title"] = "Painel do Recrutador (Admin)";
}

<main class="container pt-4">
    <section class="container-fluid" id="recrutSection1">
        <h2>Recrutadores</h2>


<table class="table container justify-content-center mt-3 p-4 border border-light shadow-sm table-light rounded table-responsive">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                E-mail
            </th>
            <th>
                Telefone
            </th>
            <th>
                Empresa
            </th>
            <th>
                Departamento
            </th>
            <th>
                Cargo
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_recrutador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email_recrutador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tel_recrutador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_empresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento_recrutador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo_recrutador)
                </td>

                <td class="d-flex">
                    <a class="btn btnVaga mr-1" asp-action="Edit" asp-route-id="@item.Id_recrutador">Editar</a>
                    <a class="btn btnVaga mr-1" asp-action="Details" asp-route-id="@item.Id_recrutador">Ver detalhes</a>
                    <a class="btn btnVaga mr-1" asp-action="Delete" asp-route-id="@item.Id_recrutador">Excluir</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<a class="btn btnFechar mr-1 ml-3" asp-controller="Home" asp-action="Admin">Voltar</a>

</section>
</main>