@model IEnumerable<Wejobr.Models.Recrutador>

<link rel="stylesheet" href="~/css/recrutador.css">

@{
    ViewData["Title"] = "Painel do Recrutador (Admin)";
}

<main class="container pt-4">
    <section class="container-fluid" id="recrutSection1">
        <h2>Painel do Recrutador (Admin)</h2>


<table class="table container justify-content-center mt-3 p-4 border border-light shadow-sm table-light rounded table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contato2_recrutador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha_recrutador)
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_empresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamento_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contato2_recrutador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha_recrutador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_recrutador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_recrutador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_recrutador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    </section>
</main>

