@model IEnumerable<Wejobr.Models.Candidato>

    <link rel="stylesheet" href="~/css/candidato.css">

    @{
        ViewData["Title"] = "Painel do candidato (Admin)";
    }

<main class="container pt-4">
   <section class="container-fluid" id="candSection1">
    <h2 class="mt-3 ml-3">Candidatos</h2>

    <table class="table container justify-content-center mt-3 p-4 border border-light shadow-sm table-light rounded table-responsive">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                    Nascimento
                </th>
                <th>
                    Nacionalidade
                </th>
                <th>
                    RNE
                </th>
                <th>
                    Idioma
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome_candidato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nascimento_candidato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nacionalidade_candidato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rne_candidato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Idioma_candidato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email_candidato)
                    </td>


                    <td class="d-flex">

                        <a class="btn btnVaga mr-1" asp-action="Edit" asp-route-id="@item.Id_candidato">Editar</a>

                        <a class="btn btnVaga mr-1" asp-action="Details" asp-route-id="@item.Id_candidato">Ver detalhes</a>

                        <a class="btn btnVaga mr-1" asp-action="Delete" asp-route-id="@item.Id_candidato">Excluir</a>

                    </td>

                </tr>
            }
        </tbody>
    </table>

    <a class="btn btnFechar mr-1 ml-3" asp-controller="Home" asp-action="Admin">Voltar</a>

 </section>
</main>