@model Wejobr.Models.Vaga

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="~/css/site.css">
<link rel="stylesheet" href="~/css/NavFooter.css">
<link rel="stylesheet" href="~/css/vagas.css">

@{ ViewData["Title"] = "Ecluir cadastro da vaga"; }

<main class="container pt-4">
    <section class="container-fluid" id="vagasSection1">
        <h3 class="mt-3 ml-3">Ao EXCLUIR o cadastro, os dados serão perdidos</h3>
        <hr />

        <div class="container d-flex flex-column justify-content-center mt-3 mb-4 p-3 border border-light shadow-sm bg-light rounded">


            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Cargo</h6>
                        <p>@Html.DisplayFor(model => model.Cargo_vaga)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Código da vaga</h6>
                        <p>@Html.DisplayFor(model => model.Cod_vaga)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Salário</h6>
                        <p>R$ @Html.DisplayFor(model => model.Salario_vaga)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Localidade</h6>
                        <p>@Html.DisplayFor(model => model.Localidade_vaga)</p>
                    </div>
                </div>
                <h6>Descrição da vaga</h6>
                <p>@Html.DisplayFor(model => model.Descricao_vaga)</p>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Nível de instrução</h6>
                        <p>@Html.DisplayFor(model => model.Nivel_instrucao_vaga)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Vaga também direcionada à PCD?</h6>
                        <p>@Html.DisplayFor(model => model.Vaga_pcd)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Regime de contratação</h6>
                        <p>@Html.DisplayFor(model => model.Regime_contratacao_vaga)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>ID da empresa</h6>
                        <p>@Html.DisplayFor(model => model.Id_empresa)</p>
                    </div>
                </div>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Cod_vaga" />
                <button class="btn btnDeletar2" type="submit">Excluir</button>
                <a class="btn btnFechar" asp-action="IndexAdmin">Voltar</a>
            </form>
        </div>
    </section>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

