@model Wejobr.Models.Empresa

    <link rel="stylesheet" href="~/css/empresas.css">

@{ ViewData["Title"] = "Excluir cadastro de empresa"; }


<main class="container pt-4">
    <section class="container-fluid" id="empresasSection1">
        <h2 class="mt-3 ml-3">Ao EXCLUIR o cadastro, os dados serão perdidos</h2>
        <hr/>
        <div class="container d-flex flex-column justify-content-center mt-3 mb-4 border border-light shadow-sm bg-light rounded">

            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Cargo</h6>
                        <p>@Html.DisplayFor(model => model.Nome_empresa)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Código da vaga</h6>
                        <p>@Html.DisplayFor(model => model.Cnpj_empresa)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Cargo</h6>
                        <p>@Html.DisplayFor(model => model.Cep_empresa)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Código da vaga</h6>
                        <p>@Html.DisplayFor(model => model.Ramo_empresa)</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 ml-auto">
                        <h6>Salário</h6>
                        <p>@Html.DisplayFor(model => model.Telefone_empresa)</p>
                    </div>
                    <div class="col-md-6 ml-auto">
                        <h6>Localidade</h6>
                        <p>@Html.DisplayFor(model => model.Linkedin_empresa)</p>
                    </div>
                </div>

            </div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id_empresa" />
                <button class="btn btnDeletar" type="submit">Excluir</button>
                <a class="btn btnFechar" asp-action="IndexAdmin">Voltar</a>
            </form>

        </div>


    </section>
</main>