@model Wejobr.Models.Empresa

@{
    ViewData["Title"] = "Details";
}


<h3>Detalhes da empresa</h3>

<hr />

<div class="container d-flex flex-column justify-content-center mt-4 mb-4 border border-light shadow-sm bg-light rounded">
    
    <dl class="row mt-3">

        <dt class="col-sm-2">
            Nome da empresa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome_empresa)
        </dd>
        <dt class="col-sm-2">
            CNPJ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cnpj_empresa)
        </dd>
        <dt class="col-sm-2">
            CEP
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cep_empresa)
        </dd>
        <dt class="col-sm-2">
            Ramo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ramo_empresa)
        </dd>
        <dt class="col-sm-2">
            Telefone
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone_empresa)
        </dd>
        <dt class="col-sm-2">
            Linkedin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Linkedin_empresa)
        </dd>
    </dl>
</div>
<div>

    <a class="btn btnFechar" asp-controller="Empresas" asp-action="IndexAdmin">Voltar</a>
</div>
