@model IEnumerable<Wejobr.Models.Empresa>

    <link rel="stylesheet" href="~/css/empresas.css">

    @{
        ViewData["Title"] = "Painel da empresa(Admin)";
    }

    <main class="container pt-4">
    <section class="container-fluid" id="empresasSection1">
    <h2 class="mt-3 ml-3">Empresas</h2>

    <table class="table container mt-3 p-4 border border-light shadow-sm table-light rounded table-responsive">
        <thead>
            <tr>
                <th>
                    Nome da empresa
                </th>
                <th>
                    CNPJ
                </th>
                <th>
                    CEP
                </th>
                <th>
                    Ramo
                </th>
                <th>
                    Telefone
                </th>
                <th>
                    LinkedIn
                </th>
                <th>
                    Ações
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cnpj_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cep_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ramo_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefone_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Linkedin_empresa)
                    </td>
                    <td class="d-flex">
                        <a class="btn btnVaga mr-1" asp-action="Edit" asp-route-id="@item.Id_empresa">Editar</a>
                        <a class="btn btnVaga mr-1" asp-action="Details" asp-route-id="@item.Id_empresa">Ver detalhes</a>
                        <a class="btn btnVaga mr-1" asp-action="Delete" asp-route-id="@item.Id_empresa">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btnFechar mr-1 ml-3" asp-controller="Home" asp-action="Admin">Voltar</a>

</section>
</main>