@model IEnumerable<Wejobr.Models.Vaga>

<link rel="stylesheet" href="~/css/vagas.css">

@{
    ViewData["Title"] = "Página Inicial";
}

<main>
    <header>
     <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
       @* <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>*@
        <div class="carousel-inner h-50">
          <div class="carousel-item active">
            <img class="d-block w-100" src="~/css/Imagens/Header/pexels-ono-kosuki-6000175.jpg" alt="Primeiro Slide">
            <div class="carousel-caption d-none d-sm-block text-right">
              <h3>Oportunidades</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora nulla, aliquam pariatur tenetur quia deserunt odio mollitia eveniet unde!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="~/css/Imagens/Header/jason-leung-jCBzW_Q_UGI-unsplash.jpg" alt="Segundo Slide">
            <div class="carousel-caption d-none d-sm-block text-right">
              <h3>Todo o mundo é bem-vindo!</h3>
              <p>Enim officiis aperiam fugit illum autem suscipit, temporibus dicta dolores quia nulla architecto eius in, porro corrupti pariatur eaque eum, facere ex!</p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="~/css/Imagens/Header/pexels-monstera-6282019.jpg" alt="Terceiro Slide">
            <div class="carousel-caption d-none d-sm-block text-left">
              <h3>Sou um ser e não uma coisa...</h3>
              <p>"...Ainda que eu fosse uma coisa, não seria a sem valor! Sou movido a deixar a minha terra. Aquela terra de origem, pátria amada, que um dia me viu nascer, me viu crescer, me viu sorrir. Sorrir para a vida. 
               <br>- Vida, o grandioso presente de Deus para as nações!"
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="~/css/Imagens/Header/immigration-people.jpg" alt="Quarto Slide">
            <div class="carousel-caption d-none d-sm-block">
              <h3>Nós. Trabalho. Brasil.</h3>
              <p>Voluptates perferendis ducimus laboriosam qui! Impedit architecto tempore mollitia cumque cum labore ipsum magnam dolores libero, enim, debitis, modi culpa aliquid atque.</p>
            </div>
          </div>
        </div>
      </div>
    </header>

   <section class="container mt-4" id="homeSection1">

    <div class="my-3 homeBtns">
        <a asp-controller="Vagas" asp-action="Index" class="btn btnProcEmp mr-1" type="button">Procurando emprego?</a>
        <a asp-controller="Candidatoes" asp-action="Index" class="btn btnContrat ml-1" type="button">Querendo contratar?</a>
    </div>

    <hr />

    <h3>Vagas em Destaque</h3>
    <div class="row justify-content-around justify-content-center mt-3 vagasDtq">
      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Auxiliar de Estoque</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Médio
                            <br>Salário: R$ 2.200
                            <br>Localidade: Belo Horizonte - MG
                            <br>Código da vaga: 456
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".bd-example-modal-lg">Ver detalhes da vaga</button>
    

           <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Auxiliar de Estoque</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>456</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 2.200</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Belo Horizonte - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Médio</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>CLT</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>123</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Atendimento ao Cliente</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Técnico
                            <br>Salário: R$ 1.900
                            <br>Localidade: Belo Horizonte - MG
                            <br>Código da vaga: 457
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".card2">Ver detalhes da vaga</button>
    

           <div class="modal fade card2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Atendimento ao Cliente</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>457</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 1.900</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Belo Horizonte - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Técnico</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>Temporário</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>524</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Gerente de Projetos</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Superior
                            <br>Salário: R$ 3.170
                            <br>Localidade: Juíz de Fora - MG
                            <br>Código da vaga: 123
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".card3">Ver detalhes da vaga</button>
    

           <div class="modal fade card3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Gerente de Projetos</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 3.170</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Juíz de Fora - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Superior</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Não</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>PJ</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>789</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Auxiliar de Estoque</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Médio
                            <br>Salário: R$ 2.200
                            <br>Localidade: Belo Horizonte - MG
                            <br>Código da vaga: 456
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".bd-example-modal-lg">Ver detalhes da vaga</button>
    

           <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Auxiliar de Estoque</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>456</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 2.200</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Belo Horizonte - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Médio</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>CLT</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>123</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Atendimento ao Cliente</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Técnico
                            <br>Salário: R$ 1.900
                            <br>Localidade: Belo Horizonte - MG
                            <br>Código da vaga: 457
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".card2">Ver detalhes da vaga</button>
    

           <div class="modal fade card2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Atendimento ao Cliente</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>457</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 1.900</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Belo Horizonte - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Técnico</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Sim</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>Temporário</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>524</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>

      <div class="col-12 col-lg-4 col-sm-6 mb-5">
       <div class="card vagaCard" style="width: 18rem;">
       <div class="card-header">
           <h6 class="card-title text-center mb-2">Gerente de Projetos</h6>
       </div>
       <div class="card-body">
           <p class="card-text">Nível: Superior
                            <br>Salário: R$ 3.170
                            <br>Localidade: Juíz de Fora - MG
                            <br>Código da vaga: 123
           </p>

           <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".card3">Ver detalhes da vaga</button>
    

           <div class="modal fade card3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
             <div class="modal-dialog modal-dialog-centered modal-lg">
               <div class="modal-content m-4">
                 <div class="modal-header">
                   <h5 class="modal-title" id="exampleModalLabel">Detalhes da vaga</h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                     <span aria-hidden="true">&times;</span>
                   </button>
                 </div>
                 <div class="modal-body">
                     <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Cargo</h6>
                                <p>Gerente de Projetos</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Código da vaga</h6>
                                <p>123</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Salário</h6>
                                <p>R$ 3.170</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Localidade</h6>
                                <p>Juíz de Fora - MG</p>
                            </div>
                        </div>
                            <h6>Descrição da vaga</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit fringilla hendrerit. Nullam condimentum lorem pulvinar urna euismod elementum. Donec et ante vel urna semper.</p>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Nível de instrução</h6>
                                <p>Superior</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>Vaga também direcionada à PCD?</h6>
                                <p>Não</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ml-auto">
                                <h6>Regime de contratação</h6>
                                <p>PJ</p>
                            </div>
                            <div class="col-md-6 ml-auto">
                                <h6>ID da empresa</h6>
                                <p>789</p>
                            </div>
                        </div>
                     </div>
                 </div>
                 <div class="modal-footer">
                   <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                   <button type="button" class="btn btnVaga">Candidatar</button>
                 </div>
               </div>
             </div>
           </div>

       </div>
        </div>
      </div>
    </div>

  <div class="row">
   @* <div>
     @{
         int vagasDestaque = 0;
     }
     @while (vagasDestaque <= 1) {
     
      @foreach (var item in Model) {
       <div class="col-sm-4 mb-5">
        <div class="card vagaCard" style="width: 18rem;">
        <div class="card-header">
            <h6 class="card-title text-center mb-2">@Html.DisplayFor(modelItem => item.Cargo_vaga)</h6>
        </div>
        <div class="card-body">
            <p class="card-text">Nível: @Html.DisplayFor(modelItem => item.Nivel_instrucao_vaga)
                             <br>Salário: R$ @Html.DisplayFor(modelItem => item.Salario_vaga)
                             <br>Localidade: @Html.DisplayFor(modelItem => item.Localidade_vaga)
                             <br>Código da vaga: @Html.DisplayFor(modelItem => item.Cod_vaga)
            </p>
     
            <button type="button" class="btn btn-sm btn-block btnVaga" data-toggle="modal" data-target=".bd-example-modal-lg" data-what ever="@item.Cod_vaga">Ver detalhes da vaga</button>
     
     
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content m-4">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalhes da vaga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <div class="container-fluid">
                         <div class="row">
                             <div class="col-md-6 ml-auto">
                                 <h6>Cargo</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Cargo_vaga)</p>
                             </div>
                             <div class="col-md-6 ml-auto">
                                 <h6>Código da vaga</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Cod_vaga)</p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-6 ml-auto">
                                 <h6>Salário</h6>
                                 <p>R$ @Html.DisplayFor(modelItem => item.Salario_vaga)</p>
                             </div>
                             <div class="col-md-6 ml-auto">
                                 <h6>Localidade</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Localidade_vaga)</p>
                             </div>
                         </div>
                             <h6>Descrição da vaga</h6>
                             <p>@Html.DisplayFor(modelItem => item.Descricao_vaga)</p>
                         <div class="row">
                             <div class="col-md-6 ml-auto">
                                 <h6>Nível de instrução</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Nivel_instrucao_vaga)</p>
                             </div>
                             <div class="col-md-6 ml-auto">
                                 <h6>Vaga também direcionada à PCD?</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Vaga_pcd)</p>
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-6 ml-auto">
                                 <h6>Regime de contratação</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Regime_contratacao_vaga)</p>
                             </div>
                             <div class="col-md-6 ml-auto">
                                 <h6>ID da empresa</h6>
                                 <p>@Html.DisplayFor(modelItem => item.Id_empresa)</p>
                             </div>
                         </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btnFechar" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btnVaga">Candidatar</button>
                  </div>
                </div>
              </div>
            </div>
     
        </div>
      </div>
      </div>
      
      }
     }
    </div>*@
  </div>

  <div class="container">
    <a asp-controller="Vagas" asp-action="Index" class="btn btn-block btnCadastrar mb-5" type="button">Ver todas as vagas</a>
  </div>

</section>

<section class="container" id="homeSection1">
    <h3>Parceiros</h3>

    <div id="carouselExampleControls" class="carousel slide mt-3" data-ride="carousel">
    <div class="carousel-inner parceirosCrsel">
      <div class="carousel-item row no-gutters active">
        <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/recodepro.png" alt="1">
          </div>         
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/SJMR-removebg-preview.png" alt="2">
          </div>        
          <div class="col-3 float-left"> 
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/recodepro.png" alt="1">
          </div>         
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/SJMR-removebg-preview.png" alt="2">
          </div>
      </div>
      
      <div class="carousel-item row no-gutters">
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/recodepro.png" alt="1">
          </div>
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/SJMR-removebg-preview.png" alt="2">
          </div>
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/recodepro.png" alt="1">
          </div>
          <div class="col-3 float-left">    
            <img class="d-block w-50" src="~/css/Imagens/Parceiros/SJMR-removebg-preview.png" alt="2">
          </div>
    </div>
  
  </div>
  </div>
</section>
</main>